$screen-width: 1080px;
$screen-height: 1920px;
$nav-height: 170px;
$content-padding: 52px;
$app-bg-color: #000;
$app-color: #fff;

/**********************
bubbles
**********************/
$bubble-outline-color: #86a3e4;
$nav-bubble-font-size: 20px;
$nav-bubble-line-height: 24px;
$nav-bubble-font-weight: 600;
$nav-bubble-text-color: #86a3e4;
$nav-bubble-text-active-color: #fff;
$bubble-outline-active-color: #fff;

/**********************
home slideshow
**********************/
$font-size-p-home: 55px;
$line-height-p-home: 65px;
$color-p-home: #fff;
$font-weight-p-home: 600;
$letter-spacing-p-home: 0px;

$font-size-slide-cta: 25px;
$line-height-slide-cta: 30px;
$color-slide-cta: #86a3e4;
$font-weight-slide-cta: 700;
$letter-spacing-slide-cta: 2px;

/**********************
story
**********************/

$story-font-size-h1: 130px;
$story-line-height-h1: 140px;
$story-color-h1: #fff;
$story-font-weight-h1: 400;
$story-letter-spacing-h1: -3px;

$story-font-size-h2: 55px;
$story-line-height-h2: 60px;
$story-color-h2: #b5b5b5;
$story-font-weight-h2: 500;
$story-letter-spacing-h2: 0px;

/**********************
story page 1
**********************/

$story-1-font-size-h1: 55px;
$story-1-line-height-h1: 65px;
$story-1-color-h1: #fff;
$story-1-font-weight-h1: 600;
$story-1-letter-spacing-h1: 0px;

$story-1-font-size-p: 35px;
$story-1-line-height-p: 42px;
$story-1-color-p: #b5b5b5;
$story-1-font-weight-p: 500;
$story-1-letter-spacing-p: 0px;

$story-caption-head-font-size: 25px;
$story-caption-head-line-height: 35px;
$story-caption-head-font-weight: 600;

/**********************
story explore page 2
**********************/

$story-explore-border-color: #79a5e7;
$story-explore-border-color-active: #fff;

$story-explore-font-size-h1: 35px;
$story-explore-line-height-h1: 35px;
$story-explore-font-weight-h1: 500;
$story-explore-color-h1: #b5b5b5;

$story-explore-font-size-h2: 55px;
$story-explore-line-height-h2: 60px;
$story-explore-font-weight-h2: 600;
$story-explore-color-h2: #fff;

/**********************
story popups
**********************/

$story-popup-font-size-h4: 25px;
$story-popup-line-height-h4: 35px;
$story-popup-color-h4: #fff;
$story-popup-font-weight-h4: 500;
$story-popup-letter-spacing-h4: 0px;

$story-popup-font-size-h3: 25px;
$story-popup-line-height-h3: 35px;
$story-popup-color-h3: #fff;
$story-popup-font-weight-h3: 600;
$story-popup-letter-spacing-h3: 1px;

$story-popup-font-size-p: 25px;
$story-popup-line-height-p: 35px;
$story-popup-color-p: #b5b5b5;
$story-popup-font-weight-p: 500;
$story-popup-letter-spacing-p: 0px;

/**********************
story reveal
**********************/
$reveal-button-color: #61a7ea;
$reveal-button-color-active: #fff;
$reveal-font-size: 25px;
$reveal-line-height: 30px;
$reveal-color: #fff;
$reveal-font-weight: 700;
$reveal-letter-spacing: 2px;

/**********************
photo credits
**********************/
$photo-credits-font-size: 20px;
$photo-credits-line-height: 28px;
$photo-credits-color: #b5b5b5;
$photo-credits-font-weight: 500;
$photo-credits-letter-spacing: 0px;

/**********************
extras
**********************/
$slider-caption-font-weight: 500;
